/*6/13/24*/
/*This is simply the background color*/
html {
    background-color: #add8e677;
    padding-top: 50px;
}
/*This is to center the paragraphs*/
.center {
    margin: auto;
    width: 50%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    display: grid;
}
/*The intro element to give the paragraphs more space*/
.intro {
    margin: auto;
    width: 75%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
/*This is to center the unordered list*/
ul.myul {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 0px;
}
/*This is the border for the table*/
table, th {
    border: 1px solid black;
}
/*This was the only way to get the table centered that I could find and work*/
table {
    padding-left: auto;
    padding-right: auto;
}
li a {
    float: left;
}