/*This is simply the background color*/
html {
    background-color: #add8e6;
    padding-top: 50px;
}
/*This is to center the paragraphs*/
.center {
    margin: auto;
    width: 50%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
/*This is to center the unordered list*/
ul.myul {
    display: inline-block;
    text-align: left;
}
/*This is the border for the table*/
table, th {
    border: 1px solid black;
}
/*This was the only way to get the table centered that I could find and work*/
table {
    padding-left: auto;
    padding-right: auto;
}